{% extends "layout.html" %}

{% block title %}
    Users
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total value</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.symbol }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.shares }}</td>
                <td>{{ item.price | usd }}</td>
                <td>{{ item.total_value | usd }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end"> {{ cash_available | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end"> {{ cash_total | usd }}</td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
